div
	form(name="addForm", ng-submit="submitContact()")
		div.bg-primary.modal-header
			button.close(type="button", data-dismiss="modal", ng-click="cancel()") &times;
			h4(class="modal-title") Add Contact
		div.modal-body.text-left
			table.table.table-hover
				tr
					th Name
					th Number
				tr
					td
						input(data-ng-model="form.name",required, name="name" type="text", placeholder="Name" )
					td
						input#phonenumber(data-ng-model="form.number", name='number', ng-pattern='phoneNumbr',required,  type="text", placeholder="xxxx-xxxxxxx",format-phone,ng-maxlength=12,maxlength='12')
						p.alert-danger(ng-show='addForm.number.$error.pattern') Not a valid number!
		div(class="modal-footer")
			button.btn.btn-primary(type="submit") 
				span(class="glyphicon glyphicon-floppy-disk")
				span Save Contact