div.bg-danger
	div(class="modal-header", )
		button(type="button", class="close", data-dismiss="modal", ng-click="cancel()") &times;
		h3(class="modal-title") Delete Confirmation
	div.modal-body
		h4 Are you sure you want to delete 
			strong {{contact.name}} 
			| from your contacts? 
	div(class="modal-footer")
		button(type="button", class="btn btn-danger", ng-click="deleteContact()") 
			span Yes
		button(type="button", class="btn btn-primary", data-dismiss="modal", ng-click="cancel()") 
			span No