div
	div.bg-info(class="modal-header", )
		button(type="button", class="close", data-dismiss="modal", ng-click="cancel()") &times;
		h4(class="modal-title") View Contact
	div(class="modal-body txtAC") 
		table(class="table table-striped table-bordered", width="100%")
			tr
				th Name
				th(width="50%") Number
			tr
				td
					strong {{ contact.name }}
				td {{contact.number}}
	div(class="modal-footer")
		a(type="button", class="btn btn-default", data-dismiss="modal")  
			span(class="glyphicon glyphicon-remove")
			Close