doctype html
html(lang="en", ng-app="phoneBookApp")
	head
		title #{title}
		link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		link(rel="stylesheet", type="text/css", href="css/style.css")
	body(ng-controller="IndexCtrl")
		div
			nav.navbar.navbar-default.navbar-static-top
				.container
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
						a.navbar-brand(href='/') #{pageTitle}
		div
			div.container(ng-view)
				div.content.table-responsive
					h2 There are {{contacts.length}} entries
					div.message-board
						p(class="{{xmclass}}") {{ xmessage }}
					table.table.table-hover
						tr
							th Name
							td.text-right
								a(href="/add/contact", ui-sref="/add",class="btn btn-primary", data-toggle="modal", data-target="#phonebookModal") Add Contact
						tr(ng-repeat="contact in contacts")
							td 
								span.glyphicon.glyphicon-user &nbsp;{{contact.name}}
							td.text-right
								div.btn-group
									button.btn.btn-info.btn-view(ui-sref="/view({id:{{$index}}})", href="#view",data-toggle="modal", data-target="#phonebookModal", title="/view({id:{{$index}}})") 
										span.glyphicon.glyphicon-eye-open &nbsp;View
									button.btn.btn-primary.btn-edit(ui-sref="/edit({id:{{$index}}})", href="#edit",data-toggle="modal", data-target="#phonebookModal", title="/edit({id:{{$index}}})")
										span.glyphicon.glyphicon-edit &nbsp;Edit
									button.btn.btn-danger.btn-delete(ui-sref="/delete({id:{{$index}}})", href="#delete", data-toggle="modal", data-target="#phonebookModal", title="/delete({id:{{$index}}})") 
										span.glyphicon.glyphicon-remove &nbsp;Delete

		div(id="phonebookModal", class="modal fade", role="dialog")
			div(class="modal-dialog")
				div(class="modal-content")
					div(ui-view)
		
		// Angular
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js')
		// Angular Animate
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-animate.js')
		// UI-Router
		script(src='//angular-ui.github.io/ui-router/release/angular-ui-router.js')
		script(type="text/javascript", src="js/app.js")