@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
body * { font-family: 'Roboto', Arial, sans-serif; }
h1,h2,h3,h4,h5,h6,strong,th{font-family: 'Oswald', sans-serif;}

.message-board{min-height: 80px; position: relative; overflow: hidden;}
